
.icon-user:before { content: '\e800'; } /* '' */
.icon-podcast:before { content: '\e801'; } /* '' */
.icon-th-list:before { content: '\e802'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */